<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/logements.jpg');">
  
      </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">Real Estate.</h1>
                <h3>Retrouvez tous les logements que nous proposons sur cette page</h3>
            </div>
        </div>
    </div>
    <br>
    <form class="example" action="#">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br>
    <form class="example" action="#">
      <div  class="diviser3">
      <select name="type" style="width: 95%;margin: 2% 2% 2% 0%;">
          <option value="">--Choisissez un type--</option>
          <option value="maison">Maison</option>
          <option value="appartement">Appartement</option>
      </select>
      <input type="number" style="width: 95%;margin: 2% 2% 2% 0%;" placeholder="Nombre de pièces" name="nbPieces" step="1" min="1"/>
      <input type="number" style="width: 95%;margin: 2% 2% 2% 0%;" placeholder="Surface" name="surface" step="1" min="1"/>
      <select name="etat" style="width: 95%;margin: 2% 2% 2% 0%;">
          <option value="">--Choisissez un état--</option>
          <option value="neuf">Neuf</option>
          <option value="bonEtat">Bon état</option>
          <option value="TresBonEtat">Très bon état</option>
          <option value="ARenover">A rénover</option>
      </select>
      <select name="type" style="width: 95%;margin: 2% 2% 2% 0%;">
          <option value="">--Choisissez un objet--</option>
          <option value="Vente">Vente</option>
          <option value="Location">Location</option>
      </select>
      <input type="number" style="width: 95%; margin: 2% 2% 2% 0%;" placeholder="Prix" name="prix" step="1" min="1"/><br>
    </div>
      <button type="submit" id="recherche">Recherche avancée</button>
    </form>
    <br><br>
    <div class="diviser">
      <div class="diviser2">
          <img src="assets/img/logements.jpg">
          <div>
            <p>Numéro de propriété : 2<br>Adresse : 18 rue de la vallée<br>Type : Vente<br>Nombre de pièces : 4<br>Etat : neuf<br>Superficie : 93m2<br>Prix : 330000€<br>Date de disponibilité : 18 janvier 2023<br>Ville : Paris</p>
          </div>
      </div>
      <div class="diviser2">
        <img src="assets/img/logements.jpg">
        <div>
          <p>Numéro de propriété : 2<br>Adresse : 18 rue de la vallée<br>Type : Vente<br>Nombre de pièces : 4<br>Etat : neuf<br>Superficie : 93m2<br>Prix : 330000€<br>Date de disponibilité : 18 janvier 2023<br>Ville : Paris</p>
        </div>
      </div>
      <div class="diviser2">
        <img src="assets/img/logements.jpg">
        <div>
          <p>Numéro de propriété : 2<br>Adresse : 18 rue de la vallée<br>Type : Vente<br>Nombre de pièces : 4<br>Etat : neuf<br>Superficie : 93m2<br>Prix : 330000€<br>Date de disponibilité : 18 janvier 2023<br>Ville : Paris</p>
        </div>
      </div >
      <div class="diviser2">
        <img src="assets/img/logements.jpg">
        <div>
          <p>Numéro de propriété : 2<br>Adresse : 18 rue de la vallée<br>Type : Vente<br>Nombre de pièces : 4<br>Etat : neuf<br>Superficie : 93m2<br>Prix : 330000€<br>Date de disponibilité : 18 janvier 2023<br>Ville : Paris</p>
        </div>
      </div>
      <div class="diviser2">
        <img src="assets/img/logements.jpg">
        <div>
          <p>Numéro de propriété : 2<br>Adresse : 18 rue de la vallée<br>Type : Vente<br>Nombre de pièces : 4<br>Etat : neuf<br>Superficie : 93m2<br>Prix : 330000€<br>Date de disponibilité : 18 janvier 2023<br>Ville : Paris</p>
        </div>
      </div>
      <div class="diviser2">
        <img src="assets/img/logements.jpg">
        <div>
          <p>Numéro de propriété : 2<br>Adresse : 18 rue de la vallée<br>Type : Vente<br>Nombre de pièces : 4<br>Etat : neuf<br>Superficie : 93m2<br>Prix : 330000€<br>Date de disponibilité : 18 janvier 2023<br>Ville : Paris</p>
        </div>
      </div>
    </div>
  <br><br>
    
  </div>
  